@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,500;0,700;1,100&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background: url(./movie-background-collage_23-2149876030.avif) no-repeat center;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.478);
    backdrop-filter: blur(10px);
    width: 400px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

/* .Search {
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(236, 232, 232);
} */
.input{
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(236, 232, 232);
}
.btn{
    /* width: 200px; */
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(236, 232, 232);
    margin-left: 10px;

}